.catalog {
  padding: 0 size(20);

  .container {
    border-right: size(1) solid var(--color-black);
    border-left: size(1) solid var(--color-black);
  }

  &__motto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    padding: size(65) size(33) size(58);

    border-bottom: size(1) solid var(--color-black);

    p {
      font-size: size(65);
      line-height: size(73);
      text-align: center;
      text-transform: uppercase;
    }

    svg {
      min-width: size(225);
      height: size(156);
    }

    svg:last-child {
      transform: scaleX(-1);
    }

    @include vp-767 {
      padding: size(20);

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: size(20);

      p {
        font-size: size(20);
        line-height: 1;

        order: 3;
        grid-column: span 2;
      }

      svg {
        min-width: unset;
        width: 100%;
        height: size(56);
      }

      svg:last-child {
        order: 2;
      }
    }
  }

  &__wrapper {
    position: relative;
    padding: size(20) 0;

    @include vp-767 {
      padding: size(20) 0 size(50);
    }
  }

  &__icons {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 size(20) 0;

    position: absolute;
    top: size(20);
    right: 0;
    left: 0;

    @include vp-767 {
      flex-direction: column;
      top: size(13);

      height: 100%;
      max-height: size(1212);
    }
  }

  &__icon {
    width: size(58);
    height: size(88);

    @include vp-767 {
      width: size(38);
      height: size(50);
    }

    svg {
      width: 100%;
      height: 100%;
    }

    &:first-child {
      margin-top: size(-15);

      @include vp-767 {
        margin-top: unset;
      }
    }

    &:nth-child(3) {
      margin-left: size(50);

      @include vp-767 {
        margin-left: unset;
        margin-top: size(14);
      }
    }

    &:last-child {
      margin-top: size(-15);

      @include vp-767 {
        margin-top: unset;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: size(25);

    padding: 0 size(20) size(3);

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    max-width: size(436);
    height: size(658);

    display: grid;
    justify-content: center;
    align-items: flex-end;

    @include vp-767 {
      height: size(370);
    }
  }

  &__item-bg {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
