.hero {
  width: 100%;
  padding: 0 size(20);

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: flex-start;
    justify-content: flex-start;
    border-top: 0;
    border-right: size(1) solid var(--color-black);
    border-bottom: size(1) solid var(--color-black);
    border-left: size(1) solid var(--color-black);

    @include vp-767 {
      grid-template-columns: 100%;
    }
  }

  &__wrapper-left {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include vp-767 {
      order: 2;

      .hero__img {
        border-bottom: none;
      }
    }
  }

  &__ujjo-small {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: size(20);

    position: relative;
  }

  &__ujjo-textWhite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 100%;
    height: 100%;
    padding: size(82) size(70);

    @include vp-767 {
      padding: size(35) size(30);
    }
  }

  &__img {
    padding: size(20);

    @include vp-767 {
      padding: size(10);
      border-bottom: size(1) solid var(--color-black);
    }

    img {
      background-color: var(--color-green);
    }
  }

  &__wrapper-right {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-left: size(1) solid var(--color-black);

    @include vp-767 {
      order: 1;
      border-left: unset;
    }
  }

  &__text {
    padding: size(24) size(55) size(11);

    border-bottom: size(1) solid var(--color-black);

    @include vp-767 {
      padding: size(20);
    }

    p {
      font-size: size(58);
      line-height: size(66);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: size(-3);

      @include vp-767 {
        font-size: size(20);
        line-height: 1;
        letter-spacing: 0;
      }
    }
  }
}
