.button {
  display: inline-flex;
  align-items: center;

  width: fit-content;

  background-color: var(--color-salmon);
  transition: background-color $transition, color $transition;

  &__text {
    font-size: size(14);
    line-height: size(22);
    font-family: var(--ff-roboto);
    color: var(--color-white);
    text-transform: uppercase;
  }

  @include hover-focus {
    background-color: transparent;

    .button__text {
      color: var(--color-salmon);
    }
  }
}
