.about {
  padding: 0 size(20);

  @include vp-767 {
    padding: 0 size(10);
  }

  .container {
    border-right: size(1) solid var(--color-black);
    border-left: size(1) solid var(--color-black);

    display: grid;
    grid-template-columns: 1fr 1fr;

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }
  }

  &__img {
    grid-column: span 2;
    padding: size(19) size(22);
    border-bottom: size(1) solid var(--color-black);

    img {
      background-color: var(--color-green);
    }

    @include vp-767 {
      display: none;
    }
  }

  &__img-about {
    img {
      background-color: var(--color-green);
    }
  }

  &__title {
    padding: size(52) size(35) size(42);
    letter-spacing: size(-3);

    @include vp-767 {
      padding: size(20);
      letter-spacing: 0;
    }
  }

  &__wrapper-2 {
    position: relative;
    border-left: size(1) solid var(--color-black);

    @include vp-767 {
      position: unset;
      border-left: unset;
    }
  }

  &__frame {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:first-child {
      z-index: 2;
      top: 49%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: size(549);
      height: size(564);
    }

    &:last-child {
      z-index: 1;
      width: size(694);
      height: size(696);
    }

    @include vp-767 {
      display: none;
    }
  }

  &__text {
    max-width: size(392);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: size(20);

    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    p {
      font-size: size(16);
      line-height: size(24);
      text-align: center;
    }

    @include vp-767 {
      position: unset;
      content: unset;
      transform: unset;

      padding: size(20);
      max-width: 100%;

      p {
        font-size: size(12);
        line-height: 1.5;
      }
    }
  }

  .marquee {
    grid-column: span 2;
  }
}
