---
import { Icon } from 'astro-icon/components'
---

<div class="marquee">
  <div class="marquee__text-wrapper">
    <div class="marquee__text">
      <Icon name="icon-hot-paper" class="marquee__icon" />
      <p>Put some fire in your belly</p>
    </div>
  </div>
  <div class="marquee__text-wrapper">
    <div class="marquee__text">
      <Icon name="icon-hot-paper" class="marquee__icon" />
      <p>Put some fire in your belly</p>
    </div>
  </div>
  <div class="marquee__text-wrapper">
    <div class="marquee__text">
      <Icon name="icon-hot-paper" class="marquee__icon" />
      <p>Put some fire in your belly</p>
    </div>
  </div>
</div>
