---
import { Icon } from 'astro-icon/components'

const reverse = Astro.props.reverse ?? false;
---

<div class="marquee">
  <div class={`marquee__text-wrapper ${reverse ? 'marquee__text-wrapper--reverse' : ''}`}>
    <div class={`marquee__text ${reverse ? 'marquee__text--reverse' : ''}`}>
      <Icon name="icon-hot-paper" class="marquee__icon" />
      <p>Put some fire in your belly</p>
    </div>
  </div>
  <div class={`marquee__text-wrapper ${reverse ? 'marquee__text-wrapper--reverse' : ''}`}>
    <div class={`marquee__text ${reverse ? 'marquee__text--reverse' : ''}`}>
      <Icon name="icon-hot-paper" class="marquee__icon" />
      <p>Put some fire in your belly</p>
    </div>
  </div>
  <div class={`marquee__text-wrapper ${reverse ? 'marquee__text-wrapper--reverse' : ''}`}>
    <div class={`marquee__text ${reverse ? 'marquee__text--reverse' : ''}`}>
      <Icon name="icon-hot-paper" class="marquee__icon" />
      <p>Put some fire in your belly</p>
    </div>
  </div>
  <div class={`marquee__text-wrapper ${reverse ? 'marquee__text-wrapper--reverse' : ''}`}>
    <div class={`marquee__text ${reverse ? 'marquee__text--reverse' : ''}`}>
      <Icon name="icon-hot-paper" class="marquee__icon" />
      <p>Put some fire in your belly</p>
    </div>
  </div>
  <div class={`marquee__text-wrapper ${reverse ? 'marquee__text-wrapper--reverse' : ''}`}>
    <div class={`marquee__text ${reverse ? 'marquee__text--reverse' : ''}`}>
      <Icon name="icon-hot-paper" class="marquee__icon" />
      <p>Put some fire in your belly</p>
    </div>
  </div>
</div>
