.nav {
  width: 100%;
  max-width: size(963);

  @include vp-767 {
    display: none;
    height: 0;
    transition: height $transition;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: size(50);
  }

  &__item {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(3) {
      margin-left: size(214);
    }

    &:last-child a {
      padding: size(15) size(48) size(15) size(20);
    }
  }

  &__link {
    width: fit-content;

    font-size: size(14);
    line-height: size(21);
    text-transform: uppercase;

    padding: size(15) size(48);
  }
}

.nav__list.is-opened {
  flex-direction: column;
  gap: min(size(10), 2vh);

  .nav__item:nth-child(3) {
    margin: 0;
  }

  .nav__item:last-child a {
    padding: min(size(15), 3vh) 0;
  }

  .nav__link {
    font-size: min(size(14), 3vh);
    line-height: 1;

    width: 100%;
    padding: min(size(15), 3vh) 0;
  }
}
